body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.blue {
  background-color: blue;
  border: 1px solid black;
}

.welcome {
  text-align: center;
  font-weight: 700;
  font-size: 6vh;
  height: 40vh;
  padding: 5vh;
  background-image: url('../img/welcome.jfif');
  background-size: contain;
  color: white;
}

.welcome-body {
  background-color: white;
  width: 90%;
  margin: 3vh auto;
  color: black;
  padding: 2vh;
  opacity: 0.7;
  border-radius: 2vh;
}

.crypto-name {
  font-size: 4vh;
  font-weight: normal;
}

.coll {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 156, 173, 1) 0%, rgba(208, 67, 121, 1) 57%);
  border: solid 0.1px black;
  border-collapse: collapse;
  text-align: center;
  color: #fff;
  font-size: 3vh;
}

.detail-col {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(245, 156, 173, 1) 0%, rgba(208, 67, 121, 1) 57%);
  border-collapse: collapse;
  text-align: left;
  color: #fff;
  font-size: 3vh;
  padding: 5vh;
  display: flex;
  justify-content: space-between;
}

.detail-col-odd {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(208, 67, 121, 1) 0%, rgba(245, 156, 173, 1) 100%);
  border-collapse: collapse;
  text-align: left;
  color: #fff;
  font-size: 3vh;
  padding: 5vh;
  display: flex;
  justify-content: space-between;
}

.header {
  font-weight: 700;
}

input {
  width: 100%;
  border-radius: 2vh;
  border: 0.5px black solid;
}

.crypto-card {
  text-decoration: none;
}

.asset-price {
  font-size: 2vh;
  color: white;
  text-align: center;
}

.asset-code {
  text-align: right;
  font-weight: 700;
  color: white;
}

.asset-name {
  font-size: 12px;
  text-align: right;
  color: white;
}

.filter {
  width: 100%;
  padding: 2vh;
}

.filter-body {
  width: 80%;
  display: flex;
  margin: auto;
  font-size: 3vh;
}

.filter-body span {
  margin: 1vh;
  font-weight: 700;
  color: rgb(82, 79, 79);
}

.icon {
  width: auto;
  height: 60px;
}

.asset-detail {
  display: flex;
  flex-direction: column;
}

.detail-price {
  font-size: 4vh;
}
